{{#if products.length}}
  <h2>Bienvenido Aventurer@: {{firstName}}</h2>
  <form action='/register/logout' method='post'>
  <button type='submit'> LOGOUT</button>
</form>

<h2>¿Deseas hablar con otros aventureros? Unete al chat</h2>
<button onclick="location.href='/views/chat'">Entrar al Chat</button>

<h2>ABM productos, aqui</h2>
<form action='/views/abmProd/' method='get'>
  <button type='submit'>ABM productos</button>
</form>

  <h2 align='center'>Lista de productos</h2>
  <table class='table' id='table' cellPadding='10' border='1' align='center'>
    <thead>
      <tr>
        <th>#id</th>
        <th>Producto</th>
        <th>Consola</th>
        <th>Precio</th>
        <th></th>
      </tr>
    </thead>
    <tbody id='productsTable'>
      {{#each products}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>{{plataform}}</td>
          <td>${{price}}</td>
          <td>
            <form action='/api/carts/64dd0734c3b03ed06f97a2a1/product/{{id}}' method='post'>
                <button type='submit'>Agregar al carrito</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <h2>Lo sentimos, no se han encontrado productos</h2>
{{/if}}


<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>