{{#if products.length}}
  <h2>Bienvenido Aventurer@: {{firstName}}</h2>
  <form action='/register/logout' method='post'>
  <button type='submit'> LOGOUT</button>
</form>
  <h2 align='center'>Lista de productos</h2>

<form action='/views/products/{{cart}}' method='get'>
  <button type='submit'>Comprar productos</button>
</form>

  <table class='table' id='table' cellPadding='10' border='1' align='center'>
    <thead>
      <tr>
        <th>#id</th>
        <th>Producto</th>
        <th>Consola</th>
        <th>Precio</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody id='productsTable'>
      {{#each products}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>{{plataform}}</td>
          <td>${{price}}</td>
          <td>
            <form action='/api/products/{{role}}/{{email}}/{{id}}' method='delete'>
                <button type='submit'> Borrar </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <h2>Lo sentimos, no se han encontrado productos</h2>
{{/if}}

<br />
<br />

<h2 align='center'>Agregar un Productos</h2>

<form action='/api/products/' method='post'>
  <input type='text' id='pTitle' name='title' placeholder='Titulo' />
  <input type='text' id='plataform' name='plataform' placeholder='Consola' />
  <input type='text' id='img' name='img' placeholder='imagen' />
  <input type='number' id='pPrice' name='price' placeholder='precio' />
  <input type='text' id='pCode' name='code' placeholder='codigo' />
  <input type='number' id='pStock' name='stock' placeholder='stock' />
  <input type='submit' value='Agregar Producto'/>
</form>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>